@import "tailwindcss";

/* using @theme, which is new way to configure the cutom colors in tailwind 4, i have conficured two colors that are picked from logo using color picker for the consistent theme and branding throughout this web app */
@theme {
	--color-brand: #ed1b24; /* logo red */
	--color-brand-dark: #231f20; /* logo dark */
}



/* setted up default styling of html and body */
html,
body {
	margin: 0;
	min-height: 100%;
	box-sizing: border-box;
}

/*
  Make #root a flex column so we can later give the main content flex-1, so the footer always remain on bottom even when there is no enough content to push the height of its container that can make the footer to bottom and to never have space between the screen bottom and the footer bottom
*/
#root {
	display: flex;
	flex-direction: column;
	min-height: 100dvh; /* i used dvh because vh on mobile browser behave differntly because some portion of screen on mobile browser is occupied by the browser url bar */
}

/* Below i have made the some animation stuff for the modals when open */
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes slideUp {
	from {
		opacity: 0;
		transform: translateY(10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes scaleIn {
	from {
		opacity: 0;
		transform: scale(0.95);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes bounce {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-10px);
	}
}

@keyframes pulse {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
}

.animate-fadeIn {
	animation: fadeIn 0.2s ease-out;
}

.animate-slideUp {
	animation: slideUp 0.4s ease-out;
}

.animate-scaleIn {
	animation: scaleIn 0.3s ease-out;
}

.animate-bounce {
	animation: bounce 0.6s ease-in-out 2;
}

.animate-pulse {
	animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
